<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  {%- if settings.brand_name != blank -%}
    <title>{% if page_title == settings.brand_name %}{{ page_title }}{% else %}{{ page_title }}{% unless page_title contains settings.brand_name %} &mdash; {{ settings.brand_name }}{% endunless %}{% endif %}</title>
  {%- else -%}
    <title>{{ page_title }}</title>
  {%- endif -%}

  {% if page_description %}<meta name="description" content="{{ page_description | escape }}">{% endif %}

  {{ 'base.css' | asset_url | stylesheet_tag }}

  {{ content_for_header }}
</head>
<body class="template-{{ template.name }}">

  {% section 'announcement-bar' %}
  {% section 'header' %}

  <main id="MainContent" role="main">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}

  <script src="{{ 'orivo.js' | asset_url }}" defer></script>
</body>
</html>
